@import "tailwindcss";

/* inline means that it can be used within other styles outside the @theme reference */

@theme inline {
  --color-primary: #6366f1;
  --color-bg: #0f172a;
  --color-accent: #f43f5e;
  --color-foreground: #fefefe;

  --font-inter: "Inter", sans-serif;

  /* typography tokens */

  --lh-headers: 1.25; /* 125% */
  --lh-body: 1.5; /* 150% */
  --lh-labels: 1.25; /* 125% */

  --w-regular: 400;
  --w-medium: 500;
  --w-semibold: 600;

  --h1-128: 128px;
  --h1-60: 60px;
  --h1: 40px;
  --h2: 32px;
  --h3: 24px;
  --h4: 18px;
  --h5: 14px;

  --p1: 16px;
  --p2: 14px;
  --p3: 12px;

  --l1: 16px;
  --l2: 14px;
  --l3: 12px;

  /* screen breakpoints */
  --sm-mobile: 640px;
  --md-tablet: 768px;
  --lg-desktop: 1024px;
}

html {
  font-size: 16px;
  background-color: var(--color-bg);
}

body {
  font-family: var(--font-inter);
  font-size: var(--p1);
  line-height: var(--lh-body);
}

/* HEADER SIZES */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-inter);
  font-weight: var(--w-semibold); /* semibold */
  line-height: var(--lh-headers); /* 125% */
}

.h1-128 {
  font-size: var(--h1-128);
}

.h1-60 {
  font-size: var(--h1-60);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

/* BODY SIZES */

.p1-r {
  font-size: var(--p1);
  line-height: var(--lh-body);
  font-weight: var(--w-regular);
}
.p1-b {
  font-size: var(--p1);
  line-height: var(--lh-body);
  font-weight: var(--w-medium);
}

.p2-r {
  font-size: var(--p2);
  line-height: var(--lh-body);
  font-weight: var(--w-regular);
}
.p2-b {
  font-size: var(--p2);
  line-height: var(--lh-body);
  font-weight: var(--w-medium);
}

.p3-r {
  font-size: var(--p3);
  line-height: var(--lh-body);
  font-weight: var(--w-regular);
}
.p3-b {
  font-size: var(--p3);
  line-height: var(--lh-body);
  font-weight: var(--w-medium);
}

/* LABELS SIZES */

.l1-r {
  font-size: var(--l1);
  line-height: var(--lh-labels);
  font-weight: var(--w-regular);
}
.l1-b {
  font-size: var(--l1);
  line-height: var(--lh-labels);
  font-weight: var(--w-semibold);
}

.l2-r {
  font-size: var(--l2);
  line-height: var(--lh-labels);
  font-weight: var(--w-regular);
}
.l2-b {
  font-size: var(--l2);
  line-height: var(--lh-labels);
  font-weight: var(--w-semibold);
}

.l3-r {
  font-size: var(--l3);
  line-height: var(--lh-labels);
  font-weight: var(--w-regular);
}
.l3-b {
  font-size: var(--l3);
  line-height: var(--lh-labels);
  font-weight: var(--w-semibold);
}

.custom-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(99, 102, 241, 0.7),
    rgba(139, 92, 246, 0.7)
  );
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    rgba(99, 102, 241, 1),
    rgba(139, 92, 246, 1)
  );
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 102, 241, 0.8) rgba(255, 255, 255, 0.05);
}
